$table-header: #93003D;
$table-header-border: #93003D;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;
$header-bg: #93003D;
$primary-color: #93003D;
$primary: #93003D;
$light: #f8f9fa;
$dark: #343a40;
$font-size-base: 1.3rem;