$table-header: #93003D;
$table-header-border: #93003D;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;
$header-bg: #93003D;
$primary-color: #93003D;
$primary: #93003D;
$light: #f8f9fa;
$dark: #343a40;
$font-size-base: 1.3rem;
/* Importo desde aquí para poder sobre escribir las variables que manejan los colores */
@import "../node_modules/boostrap/scss/bootstrap.scss";
@import "../node_modules/boostrap/scss/functions";
@import "../node_modules/boostrap/scss/variables";
@import "../node_modules/boostrap/scss/mixins";
@import "../node_modules/boostrap/scss/nav";
@import "../node_modules/boostrap/scss/navbar";
@import "../node_modules/boostrap/scss/bootstrap";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

caption {
  display: none;
}

div {
  box-sizing: border-box;
}

.table-container {
  //display: block;
  margin: 1em auto;
  width: 90%;
  max-width: 600px;
  border-collapse: collapse;
}

.flag-icon {
  margin-right: 0.1em;
}

td {
  border: 1px solid $table-border;
  padding: 0.5em;
}

th {
  background: $header-bg;
  color: white;
  padding: 0.5em;
  border: 1px solid $table-header-border;
}

.flex-row {
  width: 25%;
}

.flex-row, .flex-cell {
  text-align: center;
}

@media only screen and (max-width: 767px) {

th, td {
  width: auto;
  display: block;
  border: 0;
}

th {
  border-left: solid 1px $table-header-border;
  border-right: solid 1px $table-header-border;
  border-bottom: solid 1px $table-header-border;
}
  
td {
  border-left: solid 1px $table-border;
  border-right: solid 1px $table-border;
  border-bottom: solid 1px $table-border;
}

.flex-row {
  width: 100%;
 }
}